---
import { CollectionEntry, getCollection } from 'astro:content'
import BlogLayout from '@layouts/BlogLayout.astro'
import Cover from '@components/Cover.astro'
import { format } from 'date-fns'
import siteConfig from '@utils/config'
import BackToTop from '@components/BackToTop.astro'
import PrevButton from '@components/PrevButton.astro'
import NextButton from '@components/NextButton.astro'

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog')

  return blogEntries.map((blog, i) => {
    let prevIndex = i - 1
    let nextIndex = i + 1

    return {
      params: { slug: blog.slug },
      props: {
        blog,
        prev:
          prevIndex >= 0
            ? {
                title: blogEntries[prevIndex].data.title,
                slug: blogEntries[prevIndex].slug,
              }
            : null,
        next:
          nextIndex <= blogEntries.length - 1
            ? {
                title: blogEntries[nextIndex].data.title,
                slug: blogEntries[nextIndex].slug,
              }
            : null,
      },
    }
  })
}

interface Props {
  blog: CollectionEntry<'blog'>
  prev: {
    title: string
    slug: 'isurugi-noe' | 'kamio-misuzu' | 'subahibi'
  } | null
  next: {
    title: string
    slug: 'isurugi-noe' | 'kamio-misuzu' | 'subahibi'
  } | null
}

const { blog, prev, next } = Astro.props
const { Content, headings } = await blog.render()
---

<BlogLayout title={`${blog.data.title} | ${siteConfig.title}`}>
  <Cover
    title={blog.data.title}
    pubDate={format(blog.data.pubDate, 'MMM dd, yyyy')}
    heroImage={blog.data.heroImage}
    description={blog.data.description}
    tags={blog.data.tags}
    slot="hero"
  />
  <div class="flex w-full bg-gray-50 dark:bg-gray-900">
    <div class="container mx-auto mt-8 mb-[80px] flex flex-row gap-10">
      <div
        class="basis-3/4 prose max-w-none hover:prose-a:text-sora dark:prose-invert"
      >
        <Content />
        <div class="flex justify-between text-xl mt-12">
          <PrevButton text={prev && prev.title} slug={prev && prev.slug} />
          <NextButton text={next && next.title} slug={next && next.slug} />
        </div>
      </div>
      <div class="basis-1/4 prose hover:prose-a:text-sora dark:prose-invert">
        <div class="sticky top-4">
          <h2 class="ml-4">目录</h2>
          <ul>
            {
              headings.map((heading) => (
                <li
                  class:list={[
                    'list-none',
                    {
                      'text-lg': heading.depth === 1,
                      'text-base ml-4': heading.depth === 2,
                      'text-sm ml-8': heading.depth === 3,
                    },
                  ]}
                >
                  <a href={`#${heading.slug}`}>{heading.text}</a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
    <BackToTop />
  </div>
</BlogLayout>
