---
import { CollectionEntry, getCollection } from 'astro:content'
import BlogLayout from '@layouts/BlogLayout.astro'
import Cover from '@components/Cover.astro'
import { format } from 'date-fns'
import siteConfig from '@utils/config'
import BackToTop from '@components/BackToTop.astro'
import PrevButton from '@components/PrevButton.astro'
import NextButton from '@components/NextButton.astro'
import TableOfContents from '@components/TableOfContents'

export async function getStaticPaths() {
  const blogEntries = await getCollection(
    'blog',
    (blog) => import.meta.env.DEV || !blog.data.draft
  )

  const blogEntriesSortByDate = blogEntries.sort((a, b) => {
    return b.data.pubDate.getTime() - a.data.pubDate.getTime()
  })

  return blogEntriesSortByDate.map((blog, i) => {
    let prevIndex = i - 1
    let nextIndex = i + 1

    return {
      params: { slug: blog.slug },
      props: {
        blog,
        prev:
          prevIndex >= 0
            ? {
                title: blogEntriesSortByDate[prevIndex].data.title,
                slug: blogEntriesSortByDate[prevIndex].slug,
              }
            : null,
        next:
          nextIndex <= blogEntriesSortByDate.length - 1
            ? {
                title: blogEntriesSortByDate[nextIndex].data.title,
                slug: blogEntriesSortByDate[nextIndex].slug,
              }
            : null,
      },
    }
  })
}

interface Props {
  blog: CollectionEntry<'blog'>
  prev: {
    title: string
    slug: string
  } | null
  next: {
    title: string
    slug: string
  } | null
}

const { blog, prev, next } = Astro.props
const { Content, headings } = await blog.render()
---

<BlogLayout title={`${blog.data.title} | ${siteConfig.title}`}>
  <Cover
    title={blog.data.title}
    pubDate={format(blog.data.pubDate, 'MMM dd, yyyy')}
    heroImage={blog.data.heroImage}
    description={blog.data.description}
    tags={blog.data.tags}
    slot="hero"
  />
  <div class="flex w-full bg-gray-50 dark:bg-gray-900">
    <div class="container mx-auto mb-[80px] md:flex gap-10">
      <div
        class="md:flex-none md:order-last prose hover:prose-a:text-sora dark:prose-invert prose-a:no-underline mr-2"
      >
        <div class="md:sticky md:top-4 md:w-40">
          <h2 class="ml-2">目录</h2>
          <TableOfContents headings={headings} />
        </div>
      </div>
      <div
        class="md:flex-shrink prose max-w-none hover:prose-a:text-sora prose-a:no-underline dark:prose-invert mx-2 mt-8"
      >
        <Content />
        <div class="lg:flex justify-between text-base lg:text-xl mt-12">
          <PrevButton text={prev && prev.title} slug={prev && prev.slug} />
          <NextButton text={next && next.title} slug={next && next.slug} />
        </div>
      </div>
    </div>
    <BackToTop />
  </div>
</BlogLayout>
