---
import Layout from '@layouts/Layout.astro'
import PostCard from '@components/PostCard.astro'
import { getCollection } from 'astro:content'
import { format } from 'date-fns'
import siteConfig from '@utils/config'

const blogEntries = await getCollection(
  'blog',
  (blog) => import.meta.env.DEV || !blog.data.draft
)

const allBlogData = blogEntries.sort((a, b) => {
  return b.data.pubDate.getTime() - a.data.pubDate.getTime()
})
const numOfPosts = allBlogData.length
---

<Layout title={`BLOG | ${siteConfig.title}`}>
  <div class="flex">
    <div class="mx-auto max-w-screen-md mt-20 mb-32">
      <div class="grid gap-y-4 mx-2 grid-cols-1">
        {
          allBlogData.map(({ data, slug }) => (
            <PostCard
              title={data.title}
              description={data.description}
              pubDate={format(data.pubDate, 'yyyy . MM . dd')}
              heroImage={data.heroImage}
              tags={data.tags}
              slug={slug}
            />
          ))
        }
      </div>
    </div>
  </div>
</Layout>
