---
import Layout from '@layouts/Layout.astro'
import PostItem from '@components/PostItem.astro'
import { getCollection } from 'astro:content'
import { format } from 'date-fns'
import siteConfig from '@utils/config'

const blogEntries = await getCollection(
  'blog',
  (blog) => import.meta.env.DEV || !blog.data.draft
)

const allBlogData = blogEntries.sort((a, b) => {
  return b.data.pubDate.getTime() - a.data.pubDate.getTime()
})
const numOfPosts = allBlogData.length
---

<Layout title={`BLOG | ${siteConfig.title}`}>
  <div class="flex w-full dark:text-gray-50">
    <div class="container mx-auto mt-8 mb-[80px]">
      <div class="ml-2 my-2">{`共 ${numOfPosts} 篇文章`}</div>
      <div
        class="grid gap-x-0 gap-y-4 lg:grid-cols-2 lg:grid-rows-2 xl:grid-cols-3"
      >
        {
          allBlogData.map(({ data, slug }) => (
            <PostItem
              title={data.title}
              pubDate={format(data.pubDate, 'MMM dd, yyyy')}
              heroImage={data.heroImage}
              tags={data.tags}
              slug={slug}
            />
          ))
        }
      </div>
    </div>
  </div>
</Layout>
