---
import { format } from 'date-fns'
import siteConfig from '@utils/config'
import Layout from '@layouts/Layout.astro'
import PostCard from '@components/PostCard.astro'
import { type CollectionEntry, getCollection } from 'astro:content'

export async function getStaticPaths() {
  const blogEntries = await getCollection('posts')

  const blogEntriesSortByDate = blogEntries.sort((a, b) => {
    return b.data.pubDate.getTime() - a.data.pubDate.getTime()
  })

  const tags = [
    ...new Set(blogEntriesSortByDate.map((blog) => blog.data.tags).flat()),
  ]

  return tags.map((tag) => {
    const posts = blogEntriesSortByDate.filter((post) => {
      return post.data.tags.includes(tag)
    })

    return {
      params: {
        tag,
      },
      props: { posts },
    }
  })
}

interface Props {
  posts: CollectionEntry<'posts'>[]
}

const { tag } = Astro.params
const { posts } = Astro.props
const numOfPosts = posts.length
---

<Layout title={`${tag} | ${siteConfig.title}`}>
  <div class="flex w-full dark:text-gray-50">
    <div class="container mx-auto mt-8 mb-[80px]">
      <div class="text-2xl mb-2">
        <span class="icon-[mdi--tag] align-middle"></span>
        <span>{tag} ({numOfPosts})</span>
      </div>
      <div
        class="grid gap-x-6 gap-y-4 mx-2 lg:grid-cols-2 lg:grid-rows-2 2xl:grid-cols-3"
      >
        {
          posts.map((post) => (
            <PostCard
              title={post.data.title}
              description={post.data.description}
              pubDate={format(post.data.pubDate, 'yyyy . MM . dd')}
              heroImage={post.data.heroImage}
              tags={post.data.tags}
              slug={post.id}
            />
          ))
        }
      </div>
    </div>
  </div>
</Layout>
