---
import Layout from '@layouts/Layout.astro'
import HashTag from '@components/HashTag.astro'
import siteConfig from '@utils/config'
import { getCollection } from 'astro:content'

const blogEntries = await getCollection(
  'blog',
  (blog) => import.meta.env.DEV || !blog.data.draft
)

const tags = [...new Set(blogEntries.map((blog) => blog.data.tags).flat())]
const hashTagsWithCount = tags.map((item) => {
  let count = 0

  blogEntries.forEach((blog) => {
    const isIncluded = blog.data.tags.includes(item)
    if (isIncluded) {
      count++
    }
  })

  return {
    text: item,
    href: `/tags/${item}`,
    count,
  }
})
---

<Layout title={siteConfig.title}>
  <div class="flex">
    <div class="mx-auto mt-32 mb-40 px-4">
      <div class="flex justify-center gap-[3rem]">
        <div class="flex flex-col gap-y-10">
          <h1 class="text-6xl text-sora font-bold">{siteConfig.name}</h1>
          <p class="text-3xl">AME NO UTA</p>
          <p class="text-xl text-gray-600 dark:text-gray-300">
            {siteConfig.description}
          </p>
          <div>
            <a
              class="text-xl inline-block px-6 py-3 font-thin border-gray-300 dark:border-gray-500 bg-sora hover:bg-sky-300 text-white"
              href={siteConfig.nav[1].href}
            >
              开始阅读
            </a>
          </div>
        </div>
      </div>
      <div class="flex flex-col sm:flex-row justify-center gap-8 mt-14">
        {
          hashTagsWithCount.map((tag) => (
            <HashTag text={tag.text} href={tag.href} count={tag.count} />
          ))
        }
      </div>
    </div>
  </div>
</Layout>
