---
import { Image } from '@astrojs/image/components'

import avatar from '@assets/eruruu-avatar.jpg'
import Layout from '@layouts/Layout.astro'
import HashTag from '@components/HashTag.astro'
import siteConfig from '@utils/config'
import { getCollection } from 'astro:content'

const blogEntries = await getCollection(
  'blog',
  (blog) => import.meta.env.DEV || !blog.data.draft
)

const tags = [...new Set(blogEntries.map((blog) => blog.data.tags).flat())]
const hashTagsWithCount = tags.map((item) => {
  let count = 0

  blogEntries.forEach((blog) => {
    const isIncluded = blog.data.tags.includes(item)
    if (isIncluded) {
      count++
    }
  })

  return {
    text: item,
    href: `/tags/${item}`,
    count,
  }
})
---

<Layout title={siteConfig.title}>
  <div class="flex dark:text-gray-50">
    <div class="container mx-auto mt-[200px] mb-[220px]">
      <div class="flex justify-center gap-[3rem]">
        <Image
          class="rounded-full w-[180px] h-full"
          src={avatar}
          alt="eruruu"
        />
        <div class="flex flex-col gap-8">
          <h1 class="text-5xl text-sora font-bold">{siteConfig.name}</h1>
          <span class="text-xl text-gray-600 dark:text-gray-300">
            {siteConfig.description}
          </span>
          <div>
            <a
              class="text-3xl inline hover:text-sora hover:underline"
              href={'/posts/'}
            >
              开始阅读...
            </a>
          </div>
        </div>
      </div>
      <div class="flex justify-center gap-[3rem] mt-[2rem]">
        {
          hashTagsWithCount.map((tag) => (
            <HashTag text={tag.text} href={tag.href} count={tag.count} />
          ))
        }
      </div>
    </div>
  </div>
</Layout>
