---
import Layout from '@layouts/Layout.astro'
import HashTag from '@components/HashTag.astro'
import siteConfig from '@utils/config'
import { getCollection } from 'astro:content'
import { Image } from 'astro:assets'
import avatar from '@assets/madoka-avatar.png'

const blogEntries = await getCollection('posts')

const tags = [...new Set(blogEntries.map((blog) => blog.data.tags).flat())]
const hashTagsWithCount = tags.map((item) => {
  let count = 0

  blogEntries.forEach((blog) => {
    const isIncluded = blog.data.tags.includes(item)
    if (isIncluded) {
      count++
    }
  })

  return {
    text: item,
    href: `/tags/${item}`,
    count
  }
})
---

<Layout title={siteConfig.title}>
  <div class="flex">
    <div class="mx-auto mt-16 mb-60">
      <div class="md:flex md:gap-x-8 max-w-3xl">
        <div class="mb-8 md:flex-1 md:order-last max-w-64">
          <Image
            class="rounded-full border-2 border-gray-300"
            src={avatar}
            alt="avatar"
          />
        </div>
        <div class="md:flex md:gap-12">
          <div class="flex flex-col gap-y-10">
            <h1 class="text-5xl text-sora-500 font-bold">
              {siteConfig.heading}
            </h1>
            <h2 class="text-5xl font-bold">{siteConfig.name}</h2>
            <p class="text-xl italic text-gray-600 dark:text-gray-300">
              <span class="icon-[ooui--quotes-ltr]"></span>
              {siteConfig.description}
              <span class="icon-[ooui--quotes-rtl]"></span>
            </p>
            <div class="flex gap-x-8">
              <a
                class="rounded px-6 py-3 bg-linear-to-b from-sora-500 to-sora-600 hover:from-sora-600 hover:to-sora-700 text-white"
                href={siteConfig.nav[1].href}
              >
                <span class="text-lg">开始阅读</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col md:flex-row justify-center gap-8 mt-14">
        {
          hashTagsWithCount.map((tag) => (
            <HashTag text={tag.text} href={tag.href} count={tag.count} />
          ))
        }
      </div>
    </div>
  </div>
</Layout>
