---
const { currentPage, lastPage } = Astro.props
const { pathname } = Astro.url

const prefixUrl = '/blog'
function prevPage(currentPage: number) {
  if (currentPage === 1) {
    return `${prefixUrl}/1/`
  } else {
    return `${prefixUrl}/${currentPage - 1}/`
  }
}

function nextPage(currentPage: number) {
  if (currentPage === lastPage) {
    return `${prefixUrl}/${currentPage}/`
  } else {
    return `${prefixUrl}/${currentPage + 1}/`
  }
}
---

<div class="mx-2 flex items-center text-sm">
  <div class="bg-white dark:bg-gray-800 shadow rounded">
    <a
      class="inline-block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-700"
      href={prevPage(currentPage)}
      aria-label="Previous Page"
    >
      <span class="w-4 h-4 icon-[fa-solid--chevron-left] align-sub"></span>
    </a>
    {
      [...Array(lastPage)].map((value, index) => (
        <a
          class:list={[
            'inline-block px-4 py-2',
            {
              'hover:bg-gray-100 dark:hover:bg-gray-700':
                pathname !== `${prefixUrl}/${index + 1}/`,
              'bg-sora-700 text-white':
                pathname === `${prefixUrl}/${index + 1}/`,
            },
          ]}
          href={`${prefixUrl}/${index + 1}/`}
        >
          <span>{index + 1}</span>
        </a>
      ))
    }
    <a
      class="inline-block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-700"
      href={nextPage(currentPage)}
      aria-label="Next Page"
    >
      <span class="w-4 h-4 icon-[fa-solid--chevron-right] align-sub"></span>
    </a>
  </div>
</div>
