---
import type { Page } from 'astro'
import { type CollectionEntry } from 'astro:content'

type Props = {
  page: Page<CollectionEntry<'posts'>>
  prefix: string
}

const { page, prefix } = Astro.props

function getPageUrl(pageNum: number): string {
  if (pageNum === 1 && prefix !== '') {
    return `/${prefix}`
  } else if (pageNum === 1 && prefix === '') {
    return `/`
  } else if (prefix === '') {
    return `/${pageNum}`
  }
  return `/${prefix}/${pageNum}`
}
---

<div class="mx-2 flex items-center text-sm">
  <div class="bg-white dark:bg-gray-800 shadow rounded">
    <a
      class="inline-block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-700"
      href={page.url.prev}
      aria-label="Previous Page"
    >
      <span class="w-4 h-4 icon-[fa-solid--chevron-left] align-sub"></span>
    </a>
    {
      [...Array(page.lastPage)].map((value, index) => (
        <a
          class:list={[
            'inline-block px-4 py-2',
            {
              'hover:bg-gray-100 dark:hover:bg-gray-700':
                page.currentPage !== index + 1,
              'bg-sora-700 text-white': page.currentPage === index + 1
            }
          ]}
          href={getPageUrl(index + 1)}
        >
          <span>{index + 1}</span>
        </a>
      ))
    }
    <a
      class="inline-block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-700"
      href={page.url.next}
      aria-label="Next Page"
    >
      <span class="w-4 h-4 icon-[fa-solid--chevron-right] align-sub"></span>
    </a>
  </div>
</div>
