---
import { Image } from '@astrojs/image/components'
import Tag from './Tag.astro'

type Props = {
  title: string
  pubDate: string
  heroImage: string
  tags: Array<string>
  slug: string
}
const { title, pubDate, heroImage, tags, slug } = Astro.props
---

<div class="flex flex-col shadow-md rounded bg-white dark:bg-gray-800">
  <Image
    class="rounded-t"
    src={heroImage}
    alt={title}
    height={900}
    width={1600}
    format="jpeg"
  />
  <div class="px-8 py-8">
    <div class="flex gap-2">
      {tags.map((tag) => <Tag text={tag} href={`/tags/${tag}`} />)}
    </div>
    <a
      class="mt-4 block text-gray-900 dark:text-white hover:text-sora hover:underline font-bold"
      href={`/posts/${slug}`}
    >
      {title}
    </a>
    <div class="mt-4 text-sm text-gray-400">
      {pubDate}
    </div>
  </div>
</div>
