---
import { Image } from '@astrojs/image/components'
import Tag from '@components/Tag.astro'

type Props = {
  title: string
  description: string
  pubDate: string
  heroImage: string
  tags: Array<string>
  slug: string
}
const { title, description, pubDate, heroImage, tags, slug } = Astro.props
---

<div class="shadow-md rounded bg-white dark:bg-gray-800">
  <a href={`/posts/${slug}`}>
    <Image
      class="rounded-t"
      src={heroImage}
      alt={title}
      height={900}
      width={1600}
      format="jpeg"
    />
  </a>
  <div class="p-6">
    <div class="flex gap-x-2">
      {tags.map((tag) => <Tag text={tag} href={`/tags/${tag}`} />)}
    </div>
    <h2 class="mt-4">
      <a
        class="text-gray-900 text-xl dark:text-white hover:text-sora hover:underline dark:hover:text-sora font-bold"
        href={`/posts/${slug}`}
      >
        {title}
      </a>
    </h2>
    <p class="mt-4">
      {description}
    </p>
    <p class="mt-4 text-sm text-gray-400">
      {pubDate}
    </p>
  </div>
</div>
