---
import { Image } from 'astro:assets'

type Props = {
  title: string
  description: string
  pubDate: string
  heroImage: ImageMetadata
  tags: Array<string>
  slug: string
  wordCount: number
  readingTime: number
}
const {
  title,
  description,
  pubDate,
  heroImage,
  tags,
  slug,
  wordCount,
  readingTime
} = Astro.props
---

<div class="shadow-md rounded bg-white dark:bg-gray-800">
  <a href={`/posts/${slug}`}>
    <Image class="rounded-t" src={heroImage} alt={title} />
  </a>
  <div class="p-8 sm:p-12">
    <h2 class="font-display">
      <a
        class="text-gray-900 text-3xl dark:text-white hover:text-sora-600 dark:hover:text-sora-600 font-bold"
        href={`/posts/${slug}`}
      >
        {title}
      </a>
    </h2>
    <div class="mt-4 sm:flex gap-x-4 text-sm">
      <span class="text-gray-300 dark:text-gray-500">{pubDate}</span>
      <div
        class="border-l border-gray-300 dark:border-gray-500 hidden sm:block"
      >
      </div>
      {
        tags.map((tag) => (
          <a class="text-sora-400 px-1" href={`/tags/${tag}`}>
            #{tag}
          </a>
        ))
      }
    </div>
    <p
      class="font-display mt-8 text-xl leading-9 dark:text-gray-50 text-gray-900"
    >
      {description}
    </p>
    <div
      class="mt-8 flex gap-x-4 text-sm text-gray-300 dark:text-gray-500 italic"
    >
      <span>{wordCount} 字数</span>
      <span>约 {readingTime} 分钟</span>
    </div>
  </div>
</div>
